---
import "@styles/global.css";
import { Image } from "astro:assets";
import danielAvatar from "@images/image-daniel.jpg";
import jonathanAvatar from "@images/image-jonathan.jpg";
import jeanetteAvatar from "@images/image-jeanette.jpg";
import patrickAvatar from "@images/image-patrick.jpg";
import kiraWhite from "@images/image-kira.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Testimonials Grid Section</title>
  </head>
  <body class="font-barlow @container text-[13px] font-medium">
    <main class="base-layout">
      <article
        class="card-purple shadow-fm-grey-200 shadow-lg"
        style="grid-column: 1 / span 2;"
      >
        <header>
          <Image src={danielAvatar} alt={"Avatar for Daniel Clifford"} />
          <h2>
            <span class="accent-text">Daniel Clifford</span>
            <br />
            Verified Graduate
          </h2>
        </header>
        <p class="accent-text">
          I received a job offer mid-course, and the subjects I learned were
          current, if not more so, in the company I joined. I honestly feel I
          got every penny’s worth.
        </p>

        <p>
          “ I was an EMT for many years before I joined the bootcamp. I’ve been
          looking to make a transition and have heard some people who had an
          amazing experience here. I signed up for the free intro course and
          found it incredibly fun! I enrolled shortly thereafter. The next 12
          weeks was the best - and most grueling - time of my life. Since
          completing the course, I’ve successfully switched careers, working as
          a Software Engineer at a VR startup. "
        </p>
      </article>
      <article
        class="card-grey shadow-fm-grey-200 shadow-lg"
        style="grid-column: 3 / span 1;"
      >
        <header>
          <Image src={jonathanAvatar} alt={"Avatar for Jonathan Walters"} />
          <h2>
            <span class="accent-text">Jonathan Walters</span><br />
            Verified Graduate
          </h2>
        </header>
        <p class="accent-text">
          The team was very supportive and kept me motivated
        </p>
        <p>
          “ I started as a total newbie with virtually no coding skills. I now
          work as a mobile engineer for a big company. This was one of the best
          investments I’ve made in myself. ”
        </p>
      </article>
      <article
        class="shadow-fm-grey-200 card-white shadow-lg"
        style="grid-column: 1 / span 1;"
      >
        <header>
          <Image src={jeanetteAvatar} alt={"Avatar for Jeanette Harmon"} />
          <h2>
            <span class="accent-text">Jeanette Harmon</span>
            <br />
            Verified Graduate
          </h2>
        </header>
        <p class="accent-text">An overall wonderful and rewarding experience</p>
        <p>
          “ Thank you for the wonderful experience! I now have a job I really
          enjoy, and make a good living while doing something I love. ”
        </p>
      </article>
      <article
        class="shadow-fm-grey-200 card-blue shadow-lg"
        style="grid-column: 2 / span 2;"
      >
        <header>
          <Image src={patrickAvatar} alt={"Avatar for Patrick Abrams"} />
          <h2>
            <span class="accent-text">Patrick Abrams</span>
            <br />
            Verified Graduate
          </h2>
        </header>
        <p class="accent-text">
          Awesome teaching support from TAs who did the bootcamp themselves.
          Getting guidance from them and learning from their experiences was
          easy.
        </p>
        <p>
          “ The staff seem genuinely concerned about my progress which I find
          really refreshing. The program gave me the confidence necessary to be
          able to go out in the world and present myself as a capable junior
          developer. The standard is above the rest. You will get the personal
          attention you need from an incredible community of smart and amazing
          people. ”
        </p>
      </article>
      <article
        class="shadow-fm-grey-200 card-white shadow-lg"
        style="grid-column: 4 / span 1; grid-row: 1 / span 2;"
      >
        <header>
          <Image src={kiraWhite} alt={"Avatar for Kira Whittle"} />
          <h2>
            <span class="accent-text">Kira Whittle</span>
            <br />
            Verified Graduate
          </h2>
        </header>
        <p class="accent-text">
          Such a life-changing experience. Highly recommended!
        </p>
        <p>
          “ Before joining the bootcamp, I’ve never written a line of code. I
          needed some structure from professionals who can help me learn
          programming step by step. I was encouraged to enroll by a former
          student of theirs who can only say wonderful things about the program.
          The entire curriculum and staff did not disappoint. They were very
          hands-on and I never had to wait long for assistance. The agile team
          project, in particular, was outstanding. It took my learning to the
          next level in a way that no tutorial could ever have. In fact, I’ve
          often referred to it during interviews as an example of my developent
          experience. It certainly helped me land a job as a full-stack
          developer after receiving multiple offers. 100% recommend! ”
        </p>
      </article>
    </main>
  </body>
</html>

<style>
  html {
    background-color: var(--color-fm-grey-100);
  }
  .base-layout {
    padding: 2rem;

    & > * {
      margin-block-end: 2rem;
    }

    @container (width >= 60rem) {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(4, 1fr);

      & > * {
        margin-block: 0;
      }
    }
  }

  .accent-text {
    color: var(--accent-color);
    font-weight: 600;
  }

  article {
    background-color: var(--background-color);
    color: var(--text-color);

    margin-inline: auto;
    padding: 2.5rem 1.75rem 2rem;
    border-radius: 0.5rem;

    & > header {
      display: flex;
      gap: 1rem;
      margin-block-end: 1rem;

      & > img {
        border-radius: calc(infinity * 1px);
        border-width: 2px;
        border-color: var(--border-color);
        width: 2rem;
        align-self: center;
      }
    }
    & > p.accent-text {
      font-size: 1.5rem;
      margin-block-end: 1rem;
    }

    @container (width < 60rem) {
      max-width: 65ch;
    }
  }
  .card-purple {
    --border-color: var(--color-fm-purple-300);
    --accent-color: var(--color-fm-purple-50);
    --background-color: var(--color-fm-purple-500);
    --text-color: var(--color-fm-purple-300);
  }
  .card-grey {
    --border-color: var(--color-fm-grey-200);
    --accent-color: var(--color-fm-grey-100);
    --background-color: var(--color-fm-grey-500);
    --text-color: var(--color-fm-grey-200);
  }
  .card-white {
    --border-color: var(--color-fm-grey-200);
    --accent-color: var(--color-fm-grey-500);
    --background-color: var(--color-fm-white);
    --text-color: var(--color-fm-grey-400);
  }
  .card-blue {
    --border-color: var(--color-fm-purple-300);
    --accent-color: var(--color-fm-grey-100);
    --background-color: var(--color-fm-dark-blue);
    --text-color: var(--color-fm-grey-200);
  }
</style>
